.Meteo{
    color: rgb(223, 22, 213);
    font-family: 'Courier New', Courier, monospace;
}

.Pluie{
    color:blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}