@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Open+Sans:wght@700&display=swap');



#main {
  padding: 2em;
  /* text-align: center; */
  display: flex;
  position: relative;
  flex-direction: row;
}
.map {
  
  /* padding: 20px; */
  /* margin-left: 0%;
  margin-right: 40%; */
  flex: 50%;
  max-width: 100%;
  float: left;
  position: relative;
  /* border: 2px solid rgb(212, 20, 36); */
  
  /* padding: 2em; */
}


.meteotemp {

  margin-bottom: 150px;
  margin-top: 100px;
  margin-left: 30px ;
  text-align: right;
  color: rgb(255, 255, 255);
  font-size: larger;
  font-family:'Inconsolata', monospace;
  text-align: center;
  font-weight: bold;
  border: 1px solid white;
  border-block-color: rgb(255, 255, 255);
  border-radius: 5%;
  border-width: bold;
  border-bottom: 50%;
  padding-right: 10px;
  padding-left: 10px ;
  padding-bottom: 30px;
  padding-top: 70px;
  flex: 1;
  background-color: rgb(36, 106, 115);


}

#titreMap {
  font-family:'Inconsolata', monospace;
  font-size: 40px;
  color:aliceblue;
}